@using ECommerceApplication.Models;
@model IEnumerable<SpecialTags>

    <br/><br/>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Tag Name List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; <i class="fas fa-plus"></i> New Special Tag</a>
    </div>
</div>
<br/>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(c=>c.SpecialTag)
            </th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.SpecialTag</td>
                <td>
                    <partial name="_ButtonPartial" model="@item.Id"/>
                </td>
            </tr>
        }
    </table>
</div>
    
